<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="VLP-16">
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:macro name="sick_m8" params="*origin namespace parent:=base_link name:=m8_husky topic:=/m8_husky_lidar hz:=10 lasers:=8 samples:=1875 collision_range:=0.3 min_range:=0.9 max_range:=200.0 noise:=0.008 min_angle:=-${M_PI} max_angle:=${M_PI}">
   
    <link name="${frame}">
      <inertial>
        <mass value="0.564"/>
        <origin xyz="0 0 0.03585"/>
        <inertia ixx="0.003881243" ixy="0" ixz="0"
          iyy="0.000498940" iyz="0"
          izz="0.003879257"/>
      </inertial>
      <visual>
        <geometry>
          <mesh filename="package://velodyne_description/meshes/M8_baseplate.dae" />
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 0" xyz="0 0 0.03585"/>
        <geometry>
          <cylinder radius="0.0516" length="0.0717"/>
        </geometry>
      </collision>
    </link>

    <!-- Gazebo requires the velodyne_gazebo_plugins package -->
     <gazebo reference="${frame}">
      <turnGravityOff>true</turnGravityOff>
      <sensor type="ray" name="${frame}">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>${update_rate}</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>${sample_size}</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
            <vertical>
              <samples>8</samples>
              <resolution>1</resolution>
              <min_angle>-${3.0*M_PI/180.0}</min_angle>
              <max_angle> ${17.0*M_PI/180.0}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.001</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_laser_controller" filename="libgazebo_ros_velodyne_laser.so">
          <topicName>${topic}</topicName>
          <frameName>${frame}</frameName>
          <min_range>${min_range}</min_range>
          <max_range>${max_range}</max_range>
          <gaussianNoise>${noise}</gaussianNoise>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
